# --- Настройки WAHA ---
WAHA_ADMIN_USER=admin
WAHA_ADMIN_PASSWORD=123
WAHA_API_KEY=123
WHATSAPP_SWAGGER_USERNAME=admin
WHATSAPP_SWAGGER_PASSWORD=123
WAHA_DASHBOARD_USERNAME=admin
WAHA_DASHBOARD_PASSWORD=123

# --- Настройки Шлюза ---
GATEWAY_DOMAIN=wh-gateway.rehubpro.kz
GATEWAY_API_KEY=123

# --- Общие настройки ---
ADMIN_EMAIL=admin@rehubpro.kz
TIMEZONE=Asia/Almaty