# --- Настройки WAHA ---
WAHA_ADMIN_USER=admin
WAHA_ADMIN_PASSWORD=123
WAHA_API_KEY=123
WHATSAPP_SWAGGER_USERNAME=admin
WHATSAPP_SWAGGER_PASSWORD=123
WAHA_DASHBOARD_USERNAME=admin
WAHA_DASHBOARD_PASSWORD=123

# --- Настройки Шлюза ---
GATEWAY_DOMAIN=wh-gateway.rehubpro.kz
GATEWAY_API_KEY=123

# --- Общие настройки ---
ADMIN_EMAIL=admin@rehubpro.kz
TIMEZONE=Asia/Almaty
# --- Вебхук WAHA -> gateway ---
WHATSAPP_HOOK_URL=http://wh-gateway.internal:8000/webhook
WHATSAPP_HOOK_EVENTS=message
WHATSAPP_RESTART_ALL_SESSIONS=True
WHATSAPP_START_SESSION=default
GATEWAY_WEBHOOK_SECRET=change_me
WHATSAPP_HOOK_CUSTOM_HEADERS=X-Webhook-Secret:change_me

GATEWAY_LOGIN_TOKEN=change_me
